<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update advert</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<#include "../nav.ftlh">
<div class="p-5 text-center bg-light">
<h1>Update Advert</h1>
<form method="post" action="/adverts/${advertId}/update">
    <div class="form-group">
    <label>Title:
        <input name="title" placeholder="Title">
    </label>
    </div>
    <br>
    <div class="form-group">
    <label>Category:
        <input name="category" placeholder="Category">
    </label>
    </div>
    <br>
    <div class="form-group">
    <label>Price:
        <input name="price" placeholder="Price">
    </label>
    </div>
    <br>
    <div class="form-group">
    <label>Description:
        <input name="description" placeholder="Description">
    </label>
    </div>
    <br>
    <button type="submit">Update</button>
</form>
</div>
</body>
</html>