<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<#include "../nav.ftlh">
<div class="p-5 text-center bg-light">
    <h3>Contact us</h3>
    <form method="post" action="/users/${user}/feedback">
        <div class="form-group">
            <textarea rows="4" name="message" placeholder="Message"></textarea>
<#--                <input type="text" name="message" placeholder="Message">-->
        </div>
        <input type="submit" value="Send">
    </form>

    <br>
    <h3>My previous messages</h3>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Feedback</th>
            <th>Action</th>
        </tr>
    <#if feedbackList ? has_content>
        <#list feedbackList as feedback>
            <tr>
                <td>${feedback.date.dayOfMonth} ${feedback.date.month} ${feedback.date.year}</td>
                <td>${feedback.message}</td>
                <td>
                    <form method="post" action="/users/${user}/feedback/${feedback.id}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        </#list>
    <#else>
        <p>No feedbacks</p>
    </#if>
</div>
</body>
</html>